.dynamic-form-builder-card {
  margin: 0 auto;
  width: 90%;
}

.dynamic-form-control-container {
  margin-bottom: 24px;
  width: 50%;
}

.remove-control-dialog__button-group {
  button:not(:last-child) {
    margin-right: 16px;
  }
}
