<mat-card class="dynamic-form-builder-card" *ngIf="formControls$ | async as formControls">
  <div class="dynamic-form-control-container"
       *ngFor="let formControl of formControls"
       [ngClass]="{'dynamic-form-control-validation-container': formControl.validationErrorMessage}">
    <app-dynamic-form-control [type]="formControl.type"
                              [id]="formControl.id"
                              [label]="formControl.label"
                              [placeholder]="formControl.placeholder"
                              [isRequired]="formControl.isRequired"
                              [controlOptions]="formControl.controlOptions"
                              [hint]="formControl.hint"
                              (controlResultEmitter)="getControlResult($event)" >
    </app-dynamic-form-control>
    <mat-hint align="start" *ngIf="formControl.validationErrorMessage" class="error-message">
      {{formControl.validationErrorMessage}}</mat-hint>
  </div>

  <div class="dynamic-form-builder__control">
    <button mat-raised-button color="primary" (click)="sendData()">Submit</button>
  </div>
</mat-card>

