.dynamic-form-builder-control {
  width: 100%;

  &--margin {
    margin-bottom: 24px;
  }

  .dynamic-form-builder-control__label {
    display: block;
    margin-bottom: 12px;
    color: #9a9a9a;
    font-size: 14px;
  }
}


